In [2]:
import pandas as pd
import numpy as np

1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [3]:
numbr=[40,543,541,765,2,6,9,1,7,3,8,7,1432,7644,876]

with open("data_int.txt", mode = 'w') as f:
    for data_int in numbr:
        f.write("%s\n" % data_int)
!cat data_int.txt 

diagonal = np.diag(np.array([13.5543, 20.8362, 22.3698, 12.6543, 99.987]))


with open("data_float.txt", mode = 'w') as f:
    for data_float in diagonal:
        f.write("%s\n" % data_float)

!cat data_float.txt 


read_file = pd.read_csv ('data_float.txt')
read_file.to_csv (r'C:\Users\demo\Desktop\New_data_float.csv', index=None)


print(read_file)

40
543
541
765
2
6
9
1
7
3
8
7
1432
7644
876
[13.5543  0.      0.      0.      0.    ]
[ 0.     20.8362  0.      0.      0.    ]
[ 0.      0.     22.3698  0.      0.    ]
[ 0.      0.      0.     12.6543  0.    ]
[ 0.     0.     0.     0.    99.987]
   [13.5543  0.      0.      0.      0.    ]
0  [ 0.     20.8362  0.      0.      0.    ]
1  [ 0.      0.     22.3698  0.      0.    ]
2  [ 0.      0.      0.     12.6543  0.    ]
3       [ 0.     0.     0.     0.    99.987]

2\. **JSON files**

Load the file *user_data.json*, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [9]:
import pandas as pd
import json
import csv

json.data= pd.read_json('/Users/demo/Desktop/user_data.json')
print(json.data)

Credit=json.data[(json.data["CreditCardType"]=="American Express")]
display(Credit)
csvfile=Credit.to_csv()
display(csvfile)

                JobTitle                    EmailAddress FirstNameLastName  \
0        Project Manager    Remy_Crawford1065@typill.biz     Remy Crawford
1    Investment  Advisor    Clint_Thorpe5003@bulaffy.com      Clint Thorpe
2                   Cook   Russel_Hooper9403@bulaffy.com     Russel Hooper
3        Business Broker   Benjamin_Rowan6280@gembat.biz    Benjamin Rowan
4           Loan Officer       Matt_Lloyd3241@guentu.biz        Matt Lloyd
..                   ...                             ...               ...
195         Loan Officer        Wade_Khan6086@twipet.com         Wade Khan
196                 Cook         Ally_Rose8531@twace.org         Ally Rose
197     Machine Operator      Harvey_Moore7505@extex.org      Harvey Moore
198  Investment  Advisor      Ryan_Kennedy5565@corti.com      Ryan Kennedy
199          Stockbroker  Michaela_Murphy8359@ovock.tech   Michaela Murphy

              CreditCard    CreditCardType     ID
0    6205-7258-7671-0612       Capital One    NaN
1    7083-8766-0251-2345  American Express    2.0
2    6378-4461-8535-5847          Discover    3.0
3    5781-7635-1428-7414          Discover    4.0
4    5771-8416-2736-1700          Citibank    5.0
..                   ...               ...    ...
195  1363-2250-6020-4481       Capital One  196.0
196  6056-7620-3676-2804           Maestro  197.0
197  4353-7464-5078-5485          UnionPay  198.0
198  3166-6287-6242-7207  American Express  199.0
199  4783-1022-5267-5557          Discover  200.0

[200 rows x 6 columns]

,JobTitle,EmailAddress,FirstNameLastName,CreditCard,CreditCardType,ID
1,Investment Advisor,Clint_Thorpe5003@bulaffy.com,Clint Thorpe,7083-8766-0251-2345,American Express,2.0
11,Retail Trainee,Phillip_Carpenter9505@famism.biz,Phillip Carpenter,3657-0088-0820-5247,American Express,12.0
27,Project Manager,Russel_Graves1378@extex.org,Russel Graves,6718-4818-8011-6024,American Express,28.0
38,Stockbroker,Leanne_Newton1268@typill.biz,Leanne Newton,5438-0816-4166-4847,American Express,39.0
56,Budget Analyst,Tony_Giles1960@iatim.tech,Tony Giles,8130-3425-7573-7745,American Express,57.0
61,CNC Operator,Owen_Allcott5125@bauros.biz,Owen Allcott,4156-0107-7210-2630,American Express,62.0
67,Project Manager,Liam_Lynn3280@kideod.biz,Liam Lynn,7152-3247-6053-2233,American Express,68.0
73,Dentist,Regina_Woodcock5820@yahoo.com,Regina Woodcock,0208-1753-3870-8002,American Express,74.0
80,HR Specialist,Carter_Wallace9614@atink.com,Carter Wallace,4256-7201-6717-4322,American Express,81.0
91,Staffing Consultant,Maia_Stark2797@jiman.org,Maia Stark,3851-1403-1734-6321,American Express,92.0
96,Stockbroker,Ciara_Lomax982@bauros.biz,Ciara Lomax,3702-3440-2472-5424,American Express,97.0
115,Staffing Consultant,Isabel_Ellwood1475@fuliss.net,Isabel Ellwood,3738-0882-0066-6683,American Express,116.0
147,CNC Operator,Abdul_Townend2202@infotech44.tech,Abdul Townend,4224-1226-3557-3448,American Express,148.0
149,Fabricator,Caleb_Poulton1735@atink.com,Caleb Poulton,8203-6875-5225-0341,American Express,150.0
150,Restaurant Manager,Ronald_Lewis6777@deavo.com,Ronald Lewis,7212-0155-5014-8471,American Express,151.0
153,Bellman,Faith_Seymour3829@twace.org,Faith Seymour,4170-5186-6887-6558,American Express,154.0
168,Assistant Buyer,Anthony_Hancock9083@qater.org,Anthony Hancock,0832-3357-6010-6550,American Express,169.0
175,Healthcare Specialist,Isabella_Willson5478@nanoff.biz,Isabella Willson,5177-4868-4623-0384,American Express,176.0
181,Pharmacist,Stephanie_Darcy3298@bauros.biz,Stephanie Darcy,0264-4020-5106-5576,American Express,182.0
198,Investment Advisor,Ryan_Kennedy5565@corti.com,Ryan Kennedy,3166-6287-6242-7207,American Express,199.0

',JobTitle,EmailAddress,FirstNameLastName,CreditCard,CreditCardType,ID\n1,Investment  Advisor,Clint_Thorpe5003@bulaffy.com,Clint Thorpe,7083-8766-0251-2345,American Express,2.0\n11,Retail Trainee,Phillip_Carpenter9505@famism.biz,Phillip Carpenter,3657-0088-0820-5247,American Express,12.0\n27,Project Manager,Russel_Graves1378@extex.org,Russel Graves,6718-4818-8011-6024,American Express,28.0\n38,Stockbroker,Leanne_Newton1268@typill.biz,Leanne Newton,5438-0816-4166-4847,American Express,39.0\n56,Budget Analyst,Tony_Giles1960@iatim.tech,Tony Giles,8130-3425-7573-7745,American Express,57.0\n61,CNC Operator,Owen_Allcott5125@bauros.biz,Owen Allcott,4156-0107-7210-2630,American Express,62.0\n67,Project Manager,Liam_Lynn3280@kideod.biz,Liam Lynn,7152-3247-6053-2233,American Express,68.0\n73,Dentist,Regina_Woodcock5820@yahoo.com,Regina Woodcock,0208-1753-3870-8002,American Express,74.0\n80,HR Specialist,Carter_Wallace9614@atink.com,Carter Wallace,4256-7201-6717-4322,American Express,81.0\n91,Staffing Consultant,Maia_Stark2797@jiman.org,Maia Stark,3851-1403-1734-6321,American Express,92.0\n96,Stockbroker,Ciara_Lomax982@bauros.biz,Ciara Lomax,3702-3440-2472-5424,American Express,97.0\n115,Staffing Consultant,Isabel_Ellwood1475@fuliss.net,Isabel Ellwood,3738-0882-0066-6683,American Express,116.0\n147,CNC Operator,Abdul_Townend2202@infotech44.tech,Abdul Townend,4224-1226-3557-3448,American Express,148.0\n149,Fabricator,Caleb_Poulton1735@atink.com,Caleb Poulton,8203-6875-5225-0341,American Express,150.0\n150,Restaurant Manager,Ronald_Lewis6777@deavo.com,Ronald Lewis,7212-0155-5014-8471,American Express,151.0\n153,Bellman,Faith_Seymour3829@twace.org,Faith Seymour,4170-5186-6887-6558,American Express,154.0\n168,Assistant Buyer,Anthony_Hancock9083@qater.org,Anthony Hancock,0832-3357-6010-6550,American Express,169.0\n175,Healthcare Specialist,Isabella_Willson5478@nanoff.biz,Isabella Willson,5177-4868-4623-0384,American Express,176.0\n181,Pharmacist,Stephanie_Darcy3298@bauros.biz,Stephanie Darcy,0264-4020-5106-5576,American Express,182.0\n198,Investment  Advisor,Ryan_Kennedy5565@corti.com,Ryan Kennedy,3166-6287-6242-7207,American Express,199.0\n'

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [10]:
import pandas as pd
import csv

csv_data= pd.read_csv('/Users/demo/Downloads/mushrooms_categorized.csv')
print(csv_data)
means=csv_data.groupby(['class']).mean()
display(means)
jsonj=means.to_json()
tempj=json.dumps(jsonj)
file=open("json",'w')
file.write(tempj)
file.close()
display(json)

      class  cap-shape  cap-surface  cap-color  bruises  odor  \
0         1          5            2          4        1     6
1         0          5            2          9        1     0
2         0          0            2          8        1     3
3         1          5            3          8        1     6
4         0          5            2          3        0     5
...     ...        ...          ...        ...      ...   ...
8119      0          3            2          4        0     5
8120      0          5            2          4        0     5
8121      0          2            2          4        0     5
8122      1          3            3          4        0     8
8123      0          5            2          4        0     5

      gill-attachment  gill-spacing  gill-size  gill-color  ...  \
0                   1             0          1           4  ...
1                   1             0          0           4  ...
2                   1             0          0           5  ...
3                   1             0          1           5  ...
4                   1             1          0           4  ...
...               ...           ...        ...         ...  ...
8119                0             0          0          11  ...
8120                0             0          0          11  ...
8121                0             0          0           5  ...
8122                1             0          1           0  ...
8123                0             0          0          11  ...

      stalk-surface-below-ring  stalk-color-above-ring  \
0                            2                       7
1                            2                       7
2                            2                       7
3                            2                       7
4                            2                       7
...                        ...                     ...
8119                         2                       5
8120                         2                       5
8121                         2                       5
8122                         1                       7
8123                         2                       5

      stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
0                          7          0           2            1          4
1                          7          0           2            1          4
2                          7          0           2            1          4
3                          7          0           2            1          4
4                          7          0           2            1          0
...                      ...        ...         ...          ...        ...
8119                       5          0           1            1          4
8120                       5          0           0            1          4
8121                       5          0           1            1          4
8122                       7          0           2            1          0
8123                       5          0           1            1          4

      spore-print-color  population  habitat
0                     2           3        5
1                     3           2        1
2                     3           2        3
3                     2           3        5
4                     3           0        1
...                 ...         ...      ...
8119                  0           1        2
8120                  0           4        2
8121                  0           1        2
8122                  7           4        2
8123                  4           1        2

[8124 rows x 23 columns]

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
class,,,,,,,,,,,,,,,,,,,,,
0,3.266160,1.615970,4.581749,0.653992,4.334601,0.954373,0.285171,0.068441,6.622624,0.615970,...,1.798479,6.098859,6.064639,0.0,1.931559,1.125475,3.007605,3.201521,3.283270,1.148289
1,3.436159,2.055158,4.421859,0.159346,3.940756,0.995403,0.028601,0.567926,2.863636,0.514811,...,1.394280,5.512768,5.504597,0.0,2.002043,1.009193,1.522983,4.021450,4.031665,1.895812

4\. **Reading the credit card numbers**

Get the binary file named *credit_card.dat* from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [11]:
creditdata = pd.read_csv("/Users/demo/Downloads/credit_card.dat")

def creditcardconverter(n):  
    
    sit = ""
    for y in range(0,len(str(n))-6,6): 
        con_chr = chr(int(n[y:y+6],2))  
        sit=sit+con_chr
    return sit
creditdata[creditdata.columns[0]] = creditdata[creditdata.columns[0]].apply(creditcardconverter) 
creditdata.rename(columns={creditdata.columns[0]:creditcardconverter(creditdata.columns[0])})

    7648 5673 3775 2271
0   3257 8247 3354 2266
1   2722 0001 4011 6652
2   0661 3063 3742 3150
3   0432 1608 1462 4742
4   5827 2027 8785 7303
5   5774 8528 2087 1117
6   8140 1210 6352 2845
7   5764 1133 7301 7100
8   6456 1737 4126 6726
9   1228 8631 7382 0000
10  7051 0160 5374 3166
11  0618 3587 1630 6376
12  1545 5454 7444 5636
13  6735 3116 3202 6834
14  7287 5011 1547 8413
15  7033 2607 3328 4200
16  2568 5244 1874 5024
17  1684 2253 7570 7118
18  0672 2576 0575 6631
19  6332 8353 8787 1340
20  1813 3361 1175 4211
21  2477 6450 8840 2368
22  5512 3505 2563 1326
23  3083 7882 0621 0025
24  4521 5148 8045 0334
25  7563 3654 8713 5787
26  8324 2664 0476 5561
27  0565 2504 7168 3510
28  5107 5507 1767 0738
29  2462 1821 2448 1443
30  2788 0638 6861 6554
31  5851 5873 5474 0547
32  0670 1004 4013 2655
33  5874 5506 3048 0806
34  2805 5401 8462 1260
35  5083 8406 6310 1862
36  1076 1445 3013 2266
37  8440 4804 4844 5277
38  4758 6141 0686 1387
39  7586 0675 0315 2568
40  2544 1258 7432 5165
41  3474 5023 4434 5626
42  1410 0270 0434 5086
43  7315 4446 1104 4215
44  0224 7742 8300 0266
45  0170 2700 3145 0640
46  2006 2437 8054 1600
47  8142 4055 1776 0026
48  3026 7380 1241 1084
49

5\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [ ]:
from IPython.display import Image
Image("images/data_format.png")

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, ``pack'' the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_OSEMN.ipynb`, and verify that the content of the `txt` and binary files is consistent.

c) What is the difference of the size on disk between equivalent `txt` and binary files?

In [ ]:
#a)
import pandas as pd
import struct
import time
import os

binarycon= pd.read_csv('/Users/demo/Desktop/data_000637.txt',nrows=10)

outputFileName = 'data/converted.dat'
with open(outputFileName, 'wb') as converted:
    for rows in binarycon.values:
        #Every rows contains the values under the columns
        word = rows[0] << 62
        word =word+ rows[1] << 58
        word =word+ rows[2] << 49
        word =word+ rows[3] << 17
        word =word+ rows[4] << 5
        word =word+ rows[5] << 0
        converted.write(struct.pack('<q',word))
    converted.close()

binarycon.iloc[0:10,:].to_csv('./newwww.txt')

size_txt=os.path.getsize("./newwww.txt") #os.path.getsize() returns the size of the file in bytes
size_bin=os.path.getsize("data/converted.dat")
print('text file size=:',size_txt)
print('binary file size=:',size_bin)
differences=abs(size_txt-size_bin)
print("differences is :", differences)